@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: auto;
  height: 100vh;
  max-width: 800px;
  width: 100%;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

/*

.card-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  height: 300px;
  width: 225px;
  cursor: pointer;
}
.card + .card {
  margin-left: 30px;
}
.card .card__front,
.card .card__back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #CCC;
  border-radius: 5px;
  box-shadow: 1px 2px 4px #333;
  height: 300px;
  width: 225px;
  transition: transform .5s;
  backface-visibility: hidden;
}
.card:not(.card--flipped) .card__back {
  transform: rotateY(180deg);
}
.card.card--flipped .card__front {
  transform: rotateY(180deg);
}
.card p,
.card svg {
  width: 90%;
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin: 30px;
}

h2 {
  margin: 30px;
}

p,
.displayable-style {
  margin: 20px 30px;
}

.displayable-style {
  display: block;
  padding: 10px 20px;
  background-color: #333;
  color: #FFF;
  font-family: monospace;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
